<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/plantilla :: head}">
    <title>Cine</title>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>

    <section id="Iframe" style="text-align: center;">
        <h2>Cine Wild</h2>
        <iframe width="626" height="360" src="https://www.youtube.com/embed/q_75H1JFHtE" title="Cine" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h5>Bienvenidos al Cine Wild</h5>
    </section>

    <footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>
